body {
    background:#0a0a0a;
} 

header {
    background: #0a0a0a;
    color: #5d3fd3;
    padding: 50px 10;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 100;
}

nav ul li {
    display: inline;
    margin: 100 20 px;
    text-align: center;
}

nav ul li a {
    color: #5d3fd3;
    text-decoration: none;
    display: table-cell; width: 20%;
    margin-left: auto; 
    margin-right: auto; width: 10em
}

  
.box {
  width: 400px;
  height: 1050px;
  background:#161616;
  margin-left: auto; 
  margin-right: auto;
  border: 1px #5d3fd3 solid;
  border-radius: 30px;
}

.square {
  width: 400px;
  height: 370px;
  background:#161616;
  margin-left: auto; 
  margin-right: auto;
  border: 1px #5d3fd3 solid;
  border-radius: 30px;
}

.container {
  width: 120px;
  height: 120px;
  background:#0a0a0a;
  margin-left: auto; 
  margin-right: auto;
}

.circle {
  width: 400px;
  height: 590px;
  background:#161616;
  margin-left: auto; 
  margin-right: auto;
  border: 1px #5d3fd3 solid;
  border-radius: 30px;
}

.rectangle {
  width: 400px;
  height: 980px;
  background:#161616;
  margin-left: auto; 
  margin-right: auto;
  border: 1px #5d3fd3 solid;
  border-radius: 30px;
  
 oval {
 width: 200px;
	height: 100px;
	background: red;
	} 

.squaree {
  width: 400px;
  height: 370px;
  background:#161616;
  margin-left: auto; 
  margin-right: auto;
  border: 1px #5d3fd3 solid;
  border-radius: 30px;
}
 