body {
    background:#0a0a0a;
} 
.container {
  width: 120px;
  height: 120px;
  background:#0a0a0a;
  margin-left: auto; 
  margin-right: auto;
}

.box {
  width: 400px;
  height: 1700px;
  background:#161616;
  margin-left: auto; 
  margin-right: auto;
  border: 1px #5d3fd3 solid;
  border-radius: 30px;
}